<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Libro diario </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-footer >
      <ion-toolbar >
        <ion-item lines="none" >
          <ion-button slot="start" fill="clear"  color="danger" >
            <ion-icon slot="icon-only" name="wallet-outline"></ion-icon>
          </ion-button>
          <ion-input  placeholder="monto - detalle gasto"></ion-input>

        </ion-item>
      </ion-toolbar>
    </ion-footer>
</ion-content>
